Package: com.therealaustralian.hexclock
Name: HexClock
Version: 1.2
Architecture: iphoneos-arm
Description: The HexClock is a LockHTML4 theme that sets the lockscreen background to the colour of the 24-hour time in hex
Maintainer: Mason Pawsey (therealaustralian) <mason.pawsey@yahoo.com>
Author: Mason Pawsey <mason.pawsey@yahoo.com>
Section: Themes (LockHTML)
